---
import { Image } from "astro:assets";

export interface ProjectProps {
  title: string;
  description: string;
  image: string;
  company: string;
  duration: string;
  technologies: string[];
}

const { title, description, image, technologies } = Astro.props as ProjectProps;
---

<div class="w-1/2">
  <div class="flex justify-center bg-white">
    <!--  <Image src={image} alt={title} class="w-64 rounded-t-2xl" loading="lazy" height={300} width={300} />-->
    <div class="w-64 text-black h-20 flex justify-center items-center">Image</div>
  </div>
  <h3>{title}</h3>
  <div>{description}</div>
  <div class="flex flex-wrap gap-2 pt-2">
    {
      technologies.map((tech) => (
        <div class="px-2 py-1 rounded border border-[#2e2e2e] text-xs transition-transform duration-200 hover:bg-[#1d1d1d] group">
          <span class="transition-transform duration-200 transform group-hover:-translate-y-1">{tech}</span>
        </div>
      ))
    }
  </div>
</div>
