---
import { Image } from "astro:assets";
import TechnologyTag from "./TechnologyTag.astro";

export interface ProjectProps {
  title: string;
  description: string;
  image: string;
  company: string;
  duration: string;
  technologies: string[];
}

const { title, description, image, technologies } = Astro.props as ProjectProps;
---

<div class="w-1/2">
  <div class="flex justify-center bg-white">
    <!--  <Image src={image} alt={title} class="w-64 rounded-t-2xl" loading="lazy" height={300} width={300} />-->
    <div class="w-64 text-black h-20 flex justify-center items-center">Image</div>
  </div>
  <h3>{title}</h3>
  <div>{description}</div>
  <div class="flex flex-wrap gap-2 pt-2">
    {technologies.map((tech) => <TechnologyTag tech={tech} />)}
  </div>
</div>
